KAGGLE_USERNAME=your_username_here
KAGGLE_KEY=your_api_key_here
KAGGLE_DATASET=olistbr/brazilian-ecommerce

POSTGRES_DB=ecommerce
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_PORT=5432